.containerLesson {
  margin-right: 50px;
}

.containerLessonEn {
  margin-left: 50px;
}

.number {
  color: rgb(141, 205, 241);
  font-weight: 300;
  font-size: 40px;
}

.title {
  color: rgb(155, 155, 155);
  font-weight: 400;
  font-size: 25px;
}

.lesson:hover {
  cursor: pointer;
  .title {
    color: rgb(0, 0, 0);
  }
  .number {
    color: rgb(75, 181, 241);
  }
}

.lessonDark:hover{
  cursor: pointer;

    .title {
      color: rgb(255, 255, 255);
    }
    .number {
      color: rgb(75, 181, 241);
    }

}

@media (max-width: 550px) {
  .lesson {
    padding: 5px 15px;
  }
  .number {
    font-weight: 400;
    font-size: 20px;
  }
  .title {
    font-weight: 400;
    font-size: 20px;
  }

  .containerLesson {
    margin-right: 10px;
  }
}
