.form {
  display: grid;
  gap: 1rem;
  justify-content: center;
}

.input {
  border-radius: 8px;
  outline: none;
  border: 0px solid #4090ff83;
  padding: 5px 10px;
  width: 450px;
  box-shadow: #3788fa51 0px 4px 12px;
}

input:focus {
  box-shadow: #3788faa3 0px 4px 12px;
}

.btnSumbit {
  background-color: #3788fa;
  width: fit-content;
  color: white;
  border: 0px;
  padding: 8px 20px;
  border-radius: 6px;
  cursor: pointer;
}

@media (max-width: 500px) {
  .input {
    width: auto;
  }
}

.title {
  text-shadow: 0px 3px 20px #4090ff92;
}
